.address-card {
  width: calc(900px - 2rem);
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 0.5rem;

  &__label {
    font-weight: bold;
    margin-bottom: 0.5rem;
    font-size: 0.95rem;
  }

  &__detail {
    white-space: wrap;
    border-radius: 0.5rem;
    padding: 1rem;
    display: flex;
  }

  &--default {
    border: 2px solid #007bff;
    background-color: #e6f0ff;
  }

  &--billing {
    border-color: #28a745;
    background-color: #e9f9ee;

    .address-card__label {
      color: #218838;
    }
  }

  &--shipping {
    border-color: #17a2b8;
    background-color: #e2f3f7;

    .address-card__label {
      color: #117a8b;
    }
  }
}
