<app-header></app-header>
<div class="main-page__container">
  @if (isAuthorized()) {
    <div>You have successfully logged in</div>
  }
  <section class="categories">
    <a
      *ngFor="let category of categories"
      [routerLink]="['/catalog', category.name['en'] | lowercase]"
    >
      <div
        class="category-card"
        [ngStyle]="{
          'background-image':
            'url(\'assets/images/categories/' + (category.name['en'] | lowercase) + '.jpeg\')',
        }"
      >
        <p class="category-card__name">{{ category.name['en'] }}</p>
      </div>
    </a>
  </section>
</div>
