<section class="items-container">
  @if (cartItems().length > 0) {
    <app-cart-product
      *ngFor="let item of cartItems()"
      [cartItem]="item"
      (myOutput)="getCartItems()"
    ></app-cart-product>
  } @else {
    <div class="empty-field">
      <p>Cart is empty</p>
      <button
        mat-flat-button
        routerLink="/catalog"
      >
        Back to catalog
      </button>
    </div>
  }
</section>
<section class="cart-control">
  <form class="promo-container">
    <input
      class="promo-input"
      type="text"
      placeholder="Enter promo code..."
    />
    <button mat-flat-button>Apply</button>
  </form>

  <div class="total-count">
    <p>Total: {{ totalPrice() }} {{ currentCurrency() }}</p>
  </div>

  <button
    mat-flat-button
    (click)="cartManipulation.removeAllProducts(cartService, authService, cartItems())"
  >
    Clear Cart
  </button>
</section>
