<div class="form-group" [class.is-password-change]="label">
  <label class="login-form__label" for="password">{{ label ?? 'Password' }}:</label>
  <div class="password-field__container">
    <input
      [formControl]="control"
      class="login-form__input"
      [type]="isPasswordShown() ? 'text' : 'password'"
      id="password"
      placeholder="Enter password"
      [class.invalid]="control.invalid && (control.dirty || !control.untouched)"
    />

    @if (isPasswordShown()) {
      <mat-icon class="icon" (click)="togglePasswordVisibility()" matTooltip="Hide">
        visibility_off
      </mat-icon>
    } @else {
      <mat-icon class="icon" (click)="togglePasswordVisibility()" matTooltip="Show">
        visibility
      </mat-icon>
    }
  </div>

  @if (control && control.invalid && (control.dirty || !control.untouched)) {
    <div class="alert alert-validation">
      @if (control.hasError('required')) {
        Password is required
      } @else if (control.hasError('noBigLetter')) {
        Password must include uppercase latin letter
      } @else if (control.hasError('noLowerLetter')) {
        Password must include lowercase latin letter
      } @else if (control.hasError('noDigit')) {
        Password must include number
      } @else if (control.hasError('noSpecialSymbol')) {
        Password must include special symbol
      } @else if (control.hasError('minlength')) {
        Password must include minimum 8 characters
      } @else if (control.hasError('invalidPasswordPattern')) {
        Password is not valid
      }
    </div>
  }
</div>
