<div class="card-list-container">
  <mat-card class="card" *ngFor="let variant of allVariants" (click)="openProductPage(variant)">
    <div class="image-container">
      <img mat-card-image [src]="variant.images?.[0]?.url" alt="product image" class="card-img" />
    </div>
    <mat-card-content class="card__info">
      <h3>{{ this.name }}</h3>
      <p>{{ this.description }}</p>
      <div class="card-text">
        <span>Brand:</span> {{ productDetailService.getAttribute(variant, 'brand') }}
      </div>
      <div class="card-text">
        <span>Color:</span> {{ productDetailService.getAttribute(variant, 'color') }}
      </div>
      <div class="card-text">
        <span>Price:</span> {{ productDetailService.getAttribute(variant, 'price') }}
      </div>
      <div class="card-text">
        <span class="discounted" *ngIf="isHasDiscount(variant)">Sale price:</span>
        {{ productDetailService.getDiscountedPrice(variant) }}
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-flat-button class="card-button">Add to cart</button>
    </mat-card-actions>
  </mat-card>
</div>
