:host {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  flex-wrap: wrap;

  @media screen and (max-width: 1022px) {
    .heading {
      order: 1;
    }
    img {
      order: 2;
    }
  }
}

.heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  text-align: center;

  h1 {
    font-size: 4rem;
    color: var(--secondary-color);
  }

  h2 {
    font-size: 3rem;
    color: var(--primary-color);
  }
}
