<main>
  <section class="catalog-panel">
    <div class="catalog-panel__options">
      <div class="select-container">
        <mat-label class="select-container__label">Category</mat-label>
        <mat-select [(ngModel)]="category" class="select-container__options">
          <mat-option value="">All</mat-option>
          <mat-option
            *ngFor="let category of categories | keyvalue"
            [value]="category.key"
            (click)="onCategoryChange($event)"
          >
            {{ category.key }}
          </mat-option>
        </mat-select>
      </div>
      <div class="select-container">
        <div class="select-container__label sub-label">
          <div>Subcategory:</div>
          <div class="subcategory">{{ subcategory }}</div>
        </div>
      </div>
    </div>
    <div class="catalog-panel__options">
      <div class="select-container">
        <mat-label class="select-container__label">Brand</mat-label>
        <mat-select
          [(ngModel)]="selectedBrandValue"
          class="select-container__options"
          (ngModelChange)="onValueFilterChange()"
        >
          <mat-option value="">All brands</mat-option>
          <mat-option *ngFor="let brand of brands" [value]="brand">
            {{ brand }}
          </mat-option>
        </mat-select>
      </div>

      <div class="select-container">
        <mat-label class="select-container__label">Color</mat-label>
        <mat-select
          [(ngModel)]="selectedColorValue"
          class="select-container__options"
          (ngModelChange)="onValueFilterChange()"
        >
          <mat-option value="">All colors</mat-option>
          <mat-option *ngFor="let color of colors" [value]="color">
            {{ color }}
          </mat-option>
        </mat-select>
      </div>

      <div class="price-range-container">
        <label for="priceFrom">Price from:</label>
        <input
          type="number"
          id="priceFrom"
          [(ngModel)]="priceFrom"
          (change)="onPriceFromChange($event)"
          [min]="minPrice"
          [max]="maxPrice"
        />
        <div *ngIf="isPriceOutOfRange(priceFrom)" class="error-message">
          The price should be in the range from {{ minPrice }} to {{ maxPrice }}.
        </div>

        <label for="priceTo">Price to:</label>
        <input
          type="number"
          id="priceTo"
          [(ngModel)]="priceTo"
          (change)="onPriceToChange($event)"
          [min]="minPrice"
          [max]="maxPrice"
        />
        <div *ngIf="isPriceOutOfRange(priceTo)" class="error-message">
          The price should be in the range from {{ minPrice }} to {{ maxPrice }}.
        </div>

        <div *ngIf="isFromGreaterThanTo()" class="error-message">
          The price "From" cannot be greater than the price "To".
        </div>
        <button class="price-range-container__button" (click)="onApply()">
          Apply a price range
        </button>
        <button class="catalog-panel__button-filters-reset" (click)="onFiltersReset()">
          Reset all filters
        </button>
      </div>

      <div class="select-container">
        <mat-label class="select-container__label">Sort by</mat-label>
        <mat-select
          id="sort"
          [(ngModel)]="sortOption"
          class="select-container__options"
          (ngModelChange)="onValueSortChange()"
        >
          <mat-option value="name.en-US asc">Name A-Z</mat-option>
          <mat-option value="name.en-US desc">Name Z-A</mat-option>
          <mat-option value="variants.attributes.price.centAmount asc">Price⬆️</mat-option>
          <mat-option value="variants.attributes.price.centAmount desc">Price⬇️</mat-option>
        </mat-select>
      </div>
    </div>
    <div class="catalog-panel__options">
      <div class="search-box">
        <input
          [ngModel]="searchQuery()"
          (ngModelChange)="onValueFilterChange()"
          class="search-input"
          type="text"
          placeholder="Search..."
        />
        <button *ngIf="searchQuery()" class="clear-btn" (click)="clearSearchQuery()">
          <mat-icon>close</mat-icon>
        </button>
      </div>
    </div>
  </section>
  <section class="cards-grid">
    <app-product-card *ngFor="let product of products()" [product]="product"></app-product-card>
  </section>
</main>
