<main>
  <section class="catalog-panel">
    <div class="catalog-panel__options">
      <div class="select-container">
        <mat-label class="select-container__label">Category</mat-label>
        <mat-select
          [(ngModel)]="category"
          class="select-container__options"
          (selectionChange)="onCategoryChange($event.value)"
        >
          <mat-option value="">All categories</mat-option>
          <mat-option *ngFor="let category of categories | keyvalue" [value]="category.key">
            {{ category.key }}
          </mat-option>
        </mat-select>
      </div>
      <div class="select-container">
        <mat-label class="select-container__label">Subcategory</mat-label>
        <mat-select
          [(ngModel)]="category"
          class="select-container__options"
          (selectionChange)="onSubcategoryChange($event.value)"
        >
          <mat-option value="">All subcategories</mat-option>
          <mat-option *ngFor="let category of subcategories | keyvalue" [value]="category.key">
            {{ category.key }}
          </mat-option>
        </mat-select>
      </div>
      <div class="select-container">
        <mat-label class="select-container__label">Brand</mat-label>
        <mat-select
          [(ngModel)]="selectedBrand"
          class="select-container__options"
          (ngModelChange)="onValueFilterChange($event)"
        >
          <mat-option value="">All brands</mat-option>
          <mat-option *ngFor="let brand of brands" [value]="brand">
            {{ brand }}
          </mat-option>
        </mat-select>
      </div>
      <div class="select-container">
        <mat-label class="select-container__label">Sort by</mat-label>
        <mat-select
          id="sort"
          [(ngModel)]="sortOption"
          class="select-container__options"
          (ngModelChange)="onValueSortChange($event)"
        >
          <mat-option value="name.en-US asc">Name A-Z</mat-option>
          <mat-option value="name.en-US desc">Name Z-A</mat-option>
          <mat-option value="variants.attributes.price.centAmount asc">Price⬆️</mat-option>
          <mat-option value="variants.attributes.price.centAmount desc">Price⬇️</mat-option>
        </mat-select>
      </div>
    </div>
  </section>
  <section class="cards-grid">
    <app-product-card *ngFor="let product of products()" [product]="product"></app-product-card>
  </section>
</main>
