<section class="user-information profile__section">
  <h2 class="heading">Information</h2>

  <button class="edit" (click)="toggleEdition()">
    <img src="/assets/images/edit.svg" alt="Edit" />
  </button>

  @if (!isInfoEditing()) {
    <ul class="user-info">
      <li class="user-info__row" [class.editing]="isInfoEditing()">
        <div class="user-info__title">Name</div>
        <div class="user-info__info">{{ user?.firstName ?? 'Unknown' }}</div>
      </li>
      <li class="user-info__row" [class.editing]="isInfoEditing()">
        <div class="user-info__title">Surname</div>
        <div class="user-info__info">{{ user?.lastName ?? 'Unknown' }}</div>
      </li>
      <li class="user-info__row" [class.editing]="isInfoEditing()">
        <div class="user-info__title">Date of birth</div>
        <div class="user-info__info">{{ user?.dateOfBirth ?? 'Unknown' }}</div>
      </li>
    </ul>
  } @else {
    <form class="user-info" [formGroup]="userInfoGroup" (ngSubmit)="onSubmitAction()">
      <div class="user-info__row" [class.editing]="isInfoEditing()">
        <div class="user-info__title">Name</div>
        <app-name-field
          label="First Name"
          [control]="firstName"
          id="first-name"
          placeholder="Enter first name"
          [value]="user?.firstName"
        ></app-name-field>
      </div>
      <div class="user-info__row" [class.editing]="isInfoEditing()">
        <div class="user-info__title">Surname</div>
        <app-name-field
          label="Last Name"
          [control]="lastName"
          id="last-name"
          placeholder="Enter last name"
          [value]="user?.lastName"
        ></app-name-field>
      </div>
      <div class="user-info__row" [class.editing]="isInfoEditing()">
        <div class="user-info__title">Date of birth</div>
        <app-date-field [control]="dateOfBirth" [value]="user?.dateOfBirth"></app-date-field>
      </div>
      <button
        class="login-form__button"
        mat-flat-button
        type="submit"
        [disabled]="!userInfoGroup.valid"
      >
        Save
      </button>
    </form>
  }
</section>

<section class="user-addresses profile__section">
  <h2 class="heading">Addresses</h2>

  <div class="user-addresses__list-container">
    <div class="user-addresses__list">
      <ul class="user-addresses__head">
        <li>Address</li>
        <li>City</li>
        <li>Postal code</li>
        <li>State</li>
        <li>Country</li>
        <li>Address type</li>
      </ul>
      <app-address-card *ngFor="let address of addresses" [address]="address"></app-address-card>
    </div>
  </div>
</section>
