<section class="user-information profile__section">
  <h2 class="heading">Information</h2>

  <button class="edit" (click)="toggleEdition()">
    <img src="/assets/images/edit.svg" alt="Edit" />
  </button>

  <ul class="user-info">
    <li class="user-info__row">
      <div class="user-info__title">Name</div>
      @if (!isInfoEditing()) {
        <div class="user-info__info">{{ user?.firstName ?? 'Unknown' }}</div>
      } @else {
        <input type="text" [value]="user?.firstName ?? ''" />
      }
    </li>
    <li class="user-info__row">
      <div class="user-info__title">Surname</div>
      @if (!isInfoEditing()) {
        <div class="user-info__info">{{ user?.lastName ?? 'Unknown' }}</div>
      } @else {
        <input type="text" [value]="user?.lastName ?? ''" />
      }
    </li>
    <li class="user-info__row">
      <div class="user-info__title">Date of birth</div>
      @if (!isInfoEditing()) {
        <div class="user-info__info">{{ user?.dateOfBirth ?? 'Unknown' }}</div>
      } @else {
        <input type="text" [value]="user?.dateOfBirth ?? ''" />
      }
    </li>
  </ul>
</section>

<section class="user-addresses profile__section">
  <h2 class="heading">Addresses</h2>

  <div class="user-addresses__list-container">
    <div class="user-addresses__list">
      <ul class="user-addresses__head">
        <li>Address</li>
        <li>City</li>
        <li>Postal code</li>
        <li>State</li>
        <li>Country</li>
        <li>Address type</li>
      </ul>
      <app-address-card *ngFor="let address of addresses" [address]="address"></app-address-card>
    </div>
  </div>
</section>
