<form
  class="login-form login-form_shadow"
  [formGroup]="form"
  (ngSubmit)="onSubmitAction()"
>
  <h1>Log In</h1>

  <app-email-field [control]="email"></app-email-field>

  <app-password-field
    [control]="password"
    id="password"
  ></app-password-field>

  <button
    class="login-form__button"
    mat-flat-button
    type="submit"
    [disabled]="!form.valid"
  >
    Log In
  </button>

  <button
    class="login-form__button"
    mat-flat-button
    type="button"
    routerLink="/main"
  >
    Cancel
  </button>

  <span class="login-form__link"> Don't have an account? <a href="/registration">Register</a></span>
</form>

<div
  *ngIf="errorMessage"
  class="error-message"
>
  {{ errorMessage() }}
</div>
