@use '@angular/material' as mat;
@import './reset.scss';
@import './fonts.scss';

:root {
  --primary-color: #d6e2fd;
  --secondary-color: #0c62bf;
  --light-color: #fffdf6;
  --error-color: #d80000;
  --dark-color: black;
  --address-type-color: #d6d6d6;
  --address-type-text-color: #7c7c7c;
  --subcategory-color: rgb(219, 185, 14);
}

html,
body {
  height: 100%;
  font-family: 'Montserrat', sans-serif;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}

.no-scroll {
  overflow: hidden;
}
