<form class="login-form login-form_shadow" [formGroup]="form" (ngSubmit)="onSubmitAction()">
  <h1>Sign Up</h1>

  <div class="login-form__container">
    <div class="login-form__info">
      <label class="login-form__label">
        Email:
        <input
          class="login-form__input"
          type="email"
          placeholder="Enter email"
          formControlName="email"
        />
      </label>

      <label class="login-form__label">
        Password:
        <input
          class="login-form__input"
          [type]="isPasswordShown() ? 'text' : 'password'"
          placeholder="Enter password"
          formControlName="password"
        />
      </label>
      <label class="login-form__checkbox">
        <input type="checkbox" (change)="togglePassword()" />
        Show Password
      </label>
      <label class="login-form__label"
        >First Name: <input formControlName="firstName" class="login-form__input"
      /></label>
      <label class="login-form__label"
        >Last Name: <input formControlName="lastName" class="login-form__input"
      /></label>
      <label class="login-form__label"
        >Date of birth: <input type="date" formControlName="dateOfBirth" class="login-form__input"
      /></label>
      <label class="login-form__label"
        >Country:
        <select formControlName="country" class="login-form__input">
          <option value="">Select</option>
          <option *ngFor="let country of countries | keyvalue" [value]="country.value">
            {{ country.value }}
          </option>
        </select></label
      >
    </div>

    <form formGroupName="shippingAddress" class="address-form">
      <fieldset class="address-form__address">
        <legend class="address-legend">Shipping address</legend>
        <label class="login-form__label"
          >City: <input formControlName="shippingCity" class="login-form__input"
        /></label>

        <label class="login-form__label"
          >Street: <input formControlName="shippingStreet" class="login-form__input"
        /></label>

        <label class="login-form__label"
          >Postal Code: <input formControlName="shippingPostalCode" class="login-form__input"
        /></label>
      </fieldset>
      <label class="login-form__checkbox">
        <input type="checkbox" (change)="toggleShippingAddress()" />
        Use as default shipping address
      </label>
    </form>
    <form formGroupName="billingAddress" class="address-form">
      <fieldset class="address-form__address">
        <legend class="address-legend">Billing address</legend>
        <label class="login-form__label"
          >City: <input formControlName="billingCity" class="login-form__input"
        /></label>

        <label class="login-form__label"
          >Street: <input formControlName="billingStreet" class="login-form__input"
        /></label>

        <label class="login-form__label"
          >Postal Code: <input formControlName="billingPostalCode" class="login-form__input"
        /></label>
      </fieldset>
      <label class="login-form__checkbox">
        <input type="checkbox" (change)="toggleBillingAddress()" />
        Use as default billing address
      </label>
    </form>
  </div>
  <div class="login-form__button-container">
    <button class="login-form__button" mat-flat-button type="submit" [disabled]="!form.valid">
      Sign Up
    </button>
    <button class="login-form__button" mat-flat-button type="button" routerLink="/main">
      Cancel
    </button>
  </div>
  <span class="login-form__link"> Already have an account? <a href="/login">Log in</a></span>
  <div *ngIf="errorMessage" class="error-message">
    {{ errorMessage() }}
  </div>
</form>

<div class="validation-container">
  <div class="form-validation" *ngIf="form.get('email')?.touched && form.get('email')?.invalid">
    <small *ngIf="form.get('email')?.errors?.['required']"> Email is required.</small>
    <small *ngIf="form.get('email')?.errors?.['email']"> Invalid email format.</small>
    <small *ngIf="form.get('email')?.errors?.['pattern']">
      No whitespace or invalid email domain.</small
    >
  </div>
  <div
    class="form-validation"
    *ngIf="form.get('password')?.touched && form.get('password')?.invalid"
  >
    <small *ngIf="form.get('password')?.errors?.['required']">Password is required.</small>
    <small *ngIf="form.get('password')?.errors?.['minlength']"
      >Password must be at least 8 characters.</small
    >
    <small *ngIf="form.get('password')?.errors?.['pattern']">
      Password must include uppercase, lowercase, number and special character latin aplphabet.
    </small>
  </div>

  <div
    class="form-validation"
    *ngIf="form.get('firstName')?.touched && form.get('firstName')?.invalid"
  >
    <small *ngIf="form.get('firstName')?.errors?.['required']">First name is required.</small>
    <small *ngIf="form.get('firstName')?.errors?.['pattern']"
      >Only letters allowed in First name.</small
    >
  </div>

  <div
    class="form-validation"
    *ngIf="form.get('lastName')?.touched && form.get('lastName')?.invalid"
  >
    <small *ngIf="form.get('lastName')?.errors?.['required']">Last name is required.</small>
    <small *ngIf="form.get('lastName')?.errors?.['pattern']"
      >Only letters allowed in Last name.</small
    >
  </div>

  <div
    class="form-validation"
    *ngIf="form.get('dateOfBirth')?.touched && form.get('dateOfBirth')?.invalid"
  >
    <small *ngIf="form.get('dateOfBirth')?.errors?.['required']">Date of birdth is required.</small>
    <small *ngIf="form.get('dateOfBirth')?.errors?.['tooYoung']">You must be at least 13.</small>
  </div>

  <div class="form-validation" *ngIf="form.get('country')?.invalid && form.get('country')?.touched">
    <small>Country is required.</small>
  </div>

  <div
    class="form-validation"
    *ngIf="
      form.get('shippingAddress.shippingStreet')?.invalid &&
      form.get('shippingAddress.shippingStreet')?.touched
    "
  >
    <small *ngIf="form.get('shippingAddress.shippingStreet')?.errors?.['required']"
      >Shipping address street is required.</small
    >
  </div>

  <div
    class="form-validation"
    *ngIf="
      form.get('shippingAddress.shippingCity')?.invalid &&
      form.get('shippingAddress.shippingCity')?.touched
    "
  >
    <small *ngIf="form.get('shippingAddress.shippingCity')?.errors?.['required']"
      >Shipping address city is required.</small
    >
    <small *ngIf="form.get('shippingAddress.shippingCity')?.errors?.['pattern']"
      >Only letters allowed in shipping address.</small
    >
  </div>

  <div
    class="form-validation"
    *ngIf="
      form.get('shippingAddress.shippingPostalCode')?.invalid &&
      form.get('shippingAddress.shippingPostalCode')?.touched
    "
  >
    <small>Invalid postal code format.</small>
  </div>

  <div
    class="form-validation"
    *ngIf="
      form.get('billingAddress.billingStreet')?.invalid &&
      form.get('billingAddress.billingStreet')?.touched
    "
  >
    <small *ngIf="form.get('billingAddress.billingStreet')?.errors?.['required']"
      >Billing address street is required.</small
    >
  </div>

  <div
    class="form-validation"
    *ngIf="
      form.get('billingAddress.billingCity')?.invalid &&
      form.get('billingAddress.billingCity')?.touched
    "
  >
    <small *ngIf="form.get('billingAddress.billingCity')?.errors?.['required']"
      >Billing address city is required.</small
    >
    <small *ngIf="form.get('billingAddress.billingCity')?.errors?.['pattern']"
      >Only letters allowed in shipping address.</small
    >
  </div>
  <div
    class="form-validation"
    *ngIf="
      form.get('billingAddress.billingPostalCode')?.invalid &&
      form.get('billingAddress.billingPostalCode')?.touched
    "
  >
    <small>Invalid postal code format.</small>
  </div>
</div>
